<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Menu</title>

<!-- Estilos -->
<link rel="stylesheet" href="../../Include/css/menu.css">

</head>
<body>
  <a href="login.html" class="logo" target="_blank">
		<img src="../../Include/imagens/imagem6.png" alt="">
	</a>

  	<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
  	<label for="menu-icon"></label>
  	<nav class="nav"> 		
  		<ul class="pt-5">
  			<li><a href="login.html">Login</a></li>
  			<li><a href="#">Home</a></li>
  			<li><a href="#">Empréstimo</a></li>
        <li><a href="#">Livros</a></li>
        <li><a href="cadastroLivros.html">Cadastrar Livros</a></li>
  		</ul>
  	</nav>

  	<div class="section-center">
  		<h1 class="mb-0">Menu da Biblioteca</h1>
  	</div>
</body>
</html>

